<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GPUImage_WHC_02(groupFilter).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DACB53521E8CF86600D27C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DACB536B1E8CF86700D27C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DACB53761E8CF86700D27C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
